{% extends 'project/header.html' %}
{% block page_content %}
<br>
<div class="container">
   <div class="bg-light p-5 rounded border border-dark">
    {% if bounty.status != 0 %}
    {{ bounty.status }}
    {% endif %}
    <h1>{{ bounty.title }}</h1>
    <p>Creator: {{ bounty.creator }}. Reward: ${{ bounty.reward }}</p>
    <p class="lead">{{ bounty.description }}</p>
    <a href="{% url 'bounties:create_solution' bounty.id %}"><button class="btn btn-primary">Create solution</button></a>
    <a href="{% url 'bounties:delete_bounty' bounty.id %}"><button class="btn btn-danger">Delete</button></a>
  </div> 
</div>
<br>
<div class="container">
{% for solution in bounty.solutions.all %}
<div class="bg-light p-2 rounded border border-dark">
<p class="lead">{{ solution.text }}</p>
{{ solution.creator.username }}
<button class="btn btn-success">Award</button>
</div>
<br>
{% endfor %}
</div>


{% endblock page_content %}