{% extends 'project/header.html' %}
{% block page_content %}
<br>
<div class="container">
   <div class="bg-light p-5 rounded border border-dark">
    {% if bounty.status != 0 %}
    {{ bounty.status }}
    {% endif %}
    <h1>{{ bounty.title }}</h1>
    <p>Creator: {{ bounty.creator }}. Reward: ${{ bounty.reward }}</p>
    <p class="lead">{{ bounty.description }}</p>
    <a href="{% url 'bounties:create_solution' bounty.id %}"><button class="btn btn-primary">Create solution</button></a>
    {% if user == bounty.creator %}
    <a href="{% url 'bounties:delete_bounty' bounty.id %}"><button class="btn btn-danger">Delete</button></a>
    {% endif %}
  </div> 
</div>
<br>
<div class="container">
  {% if bounty.awarded_solution %}
    <div class="bg-light p-2 rounded border border-info">
      <p class="lead">{{ bounty.awarded_solution.text }}</p>
      {{ bounty.awarded_solution.creator.username }}
      {% if user == bounty.awarded_solution.creator %}
      <a href="{% url 'bounties:delete_solution' bounty.id bounty.awarded_solution.id %}"><button class="btn btn-danger">Delete</button></a>
      {% endif %}
    </div>
    <br>
  {% endif %}
{% for solution in bounty.solutions.all %}
  {% if solution.status != solution.DELETED and solution != bounty.awarded_solution %}
    <div class="bg-light p-2 rounded border border-dark">
    <p class="lead">{{ solution.text }}</p>
    {{ solution.creator.username }}
    {% if user == bounty.creator %}
      <a href="{% url 'bounties:award_solution' bounty.id solution.id %}"><button class="btn btn-success">Award</button></a>
    {% endif %}
    {% if user == solution.creator %}
      <a href="{% url 'bounties:delete_solution' bounty.id solution.id %}"><button class="btn btn-danger">Delete</button></a>
    {% endif %}
  </div>
  <br>
  {% endif %}
{% endfor %}
</div>


{% endblock page_content %}