#header {
  background-color: #011627;
  padding: 2% 0 2% 2%;
}

#title {
  color: #FDFFFC;
  font-weight: 500;
  display: inline;
}

#loginButton {
  float: right;
  margin-right: 50px;
  background-color: #FDFFFC;
  font-size: 24px;
  border-style: none;
  border-radius: 5px;
}

#bounties {
  font-size: 25px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.bounty {
  border: 1px solid #011627;
  border-radius: 5px;
  border-color: #011627;
  margin: 10px 0px 5px 10px;
  padding: 10px 0px 5px 10px;
}

.bounty-title {
  margin-left: 5%;
}

.bounty-amount {
  float: right;
  margin-right: 5%;
}