<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'bounties:recent_bounties' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <circle cx="18" cy="16" r="13" stroke="white" stroke-width="2" fill="#343a40" />
                </svg>
                <h1>Bounties</h1>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"></form>

            <div class="text-end">
                {% if request.user.is_authenticated %}
                <button type="button" class="btn btn-primary me-2" action="{% url 'bounties:create_bounty' %}">New bounty</button>
                <button type="button" class="btn btn-link me-2" action="{% url 'logout' %}">Sign out</button>
                {% else %}
                <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'login' %}">Login</a></button>
                {% endif %}
            </div>
        </div>
    </div>
</header>

{% block page_content %}
{% endblock page_content %}